*.bak
*.la
*.lo
*.o
*.orig
*.rej
*.tab.c
*.tar.xz
*~
*#
.#*
.*.sw[nop]
.deps
.dirstamp
.gitignore
.libs
ABOUT-NLS
GPATH
GRTAGS
GSYMS
GTAGS
ID
Makefile
Makefile.in
TAGS
_libs
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.lt
config.rpath
config.status
config.status.lineno
config.sub
configure
configure.lineno
depcomp
install-sh
intltool-*.in
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4
missing
mkinstalldirs
po/*.gmo
po/*.header
po/*.mo
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/boldquot.sed
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
src/gnome-search-example
src/gnome-search-example.desktop
src/gnome-search-example.desktop.in
src/org.gnome.SearchExample.SearchProvider.service
src/search-example-provider-generated.c
src/search-example-provider-generated.h
so_locations
stamp-h1
tags
